# --- SPARK CONFIGURATION TEMPLATE ---
# Copy this file, rename it to '.env', and fill in your local paths.

# Windows Example (Raphaël):
# JAVA_HOME="C:/Program Files/Eclipse Adoptium/jdk-17.0.18.8-hotspot"
# HADOOP_HOME="C:/hadoop"
# SPARK_HOME="C:/path/to/venv/Lib/site-packages/pyspark"

# macOS Example (Clément):
# JAVA_HOME="/opt/homebrew/opt/openjdk@21"